/* Font Import */
@import url("https://fonts.googleapis.com/css?family=Reggae+One|Nanum+Gothic|Indie+Flower|KoHo|Raleway|Titillium+Web|Teko|Dancing+Script|Lobster|Recursive|Zilla+Slab|Mate+SC|Caveat|Girassol|Courgette|Prata|Parisienne|Yellowtail|Rokkitt|Bahianita|Staatliches|Sanchez|Josefin+Slab|Merienda|Texturina|Unna|Philosopher|Ubuntu+Mono|Karma|El+Messiri");

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    font-family: sans-serif;
    background-color: white;
    font-size: 1rem;
    line-height: 1.3;
}

/* Font Classes */
.font-reggae {
    font-family: 'Reggae One', cursive;
}
.font-nanum {
    font-family: 'Nanum GOthic', sans-serif;
}
.font-indie {
    font-family: 'Indie Flower', cursive;
}
.font-koho {
    font-family: "KoHo", sans-serif;
}
.font-raleway {
    font-family: "Raleway", sans-serif;
}
.font-titillium{
    font-family: "Titillium Web", sans-serif;
}
.font-teko {
    font-family: "Teko", sans-serif;
}
.font-dancing {
    font-family: 'Dancing Script', cursive;
}
.font-lobster {
    font-family: 'Lobster', cursive;
}
.font-recursive {
    font-family: 'Recursive', sans-serif;
}
.font-zilla {
    font-family: 'Zilla Slab', serif;
}
.font-mate {
    font-family: 'Mate SC', serif;
}
.font-caveat {
    font-family: 'Caveat', cursive;
}
.font-girassol {
    font-family: 'Girassol', cursive;
}
.font-courgette {
    font-family: 'Courgette', cursive;
}
.font-prata{
    font-family: 'Prata', serif;
}
.font-parisienne {
    font-family: 'Parisienne', cursive;
}
.font-yellowtail {
    font-family: 'Yellowtail', cursive;
}
.font-rokkit {
    font-family: 'Rokkit', serif;
}
.font-bahianita {
    font-family: 'Bahianita', cursive;
}
.font-staatliches {
    font-family: 'Staatliches', cursive;
}
.font-sanchez {
    font-family: 'Sanchez', serif;
}
.font-josefin {
    font-family: 'Josefin Slab', serif;
}
.font-merienda {
    font-family: 'Merienda', cursive;
}
.font-texturina {
    font-family: 'Texturina', serif;
}
.font-unna {
    font-family: 'Unna', serif;
}
.font-philosopher {
    font-family: 'Philosopher', sans-serif;
}
.font-ubuntu {
    font-family: 'Ububtu Mono', monospace;
}
.font-karma {
    font-family: 'Karma', serif;
}
.font-el {
    font-family: 'El Messiri', sans-serif;
}
/* */

/* */

/* */